body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

h1, p {
    margin-top: 0;
}

/* || Typography */

h1 {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 2rem;
    color: #143774;
    margin: 0;
}

.subtitle,
nav {
    font-weight: 700;
    text-transform: uppercase;
}

nav {
    font-size: 1rem;
}

.subtitle {
    font-size: .75rem;
    color: #1792D2;
    margin: 0;
}



/* || Layout */

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    justify-content: space-between;
}

.container-home {
    display: flex;
}

header {
    background-color: #f8f8f8;
    padding: 2em 0;
}

.nav-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
}

.nav-list-item {
    margin-left: 2em;
}


.nav-link {
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: .25em 0;
}

.nav-link:hover, .nav-link:focus {
    color: #1792D2;
}

.current-page {
    border-bottom: 3px solid #707070;
}

.current-page:hover, .current-page:focus {
    color: #707070;
}

main {
    width: 70%;
}

.article-image {
    max-width: 100%;
}

.article-info {
    color: #707070;
}

.article-recent {
    display: flex;
}

.article-recent-main {
    width: 75%;
}

.article-recent-secondary {
    width: 25%;
}

.article-img {
    max-width: 100%;
}



.sidebar {
    width: 30%;
}

.sidebar-widget {
    width: 100%;
    text-align: center;
}

.widget-image {
    max-width: 100%;
}

footer {
    background-color: #143774;
    color: #FFFFFF;
    text-align: center;
}

@media (max-width: 730px) {
    .container-nav {
        flex-direction: column;
    }

    .site-title {
        text-align: center;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
    }

    .nav-list-item {
        margin: .5em 0;
    }
    
}