body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

h1, p {
    margin-top: 0;
}

/* || Typography */

.title {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 2rem;
    color: #143774;
    text-align: center;
    margin: 0;
}

.subtitle,
nav {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

nav {
    font-size: 1rem;
}

.subtitle {
    font-size: .75rem;
    color: #1792D2;
    margin: 0;
}

.nav-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
}

.nav-list-item {
    margin: 0 1em;
}


.nav-link {
    text-decoration: none;
    color: #707070;
    font-weight: 700;
}

.nav-link:hover, .nav-link:focus {
    color: #1792D2;
    border-bottom: 3px solid #1792D2;
    padding-bottom: .3em;
}



/* || Layout */

header {
    background-color: #f8f8f8;
    padding: 2em 0;
}